<header>
  <nav *ngIf="auth.authenticated()">
    <a class="btn btn-primary btn-margin" [routerLink]="['']">Home</a>
    <a class="btn btn-primary btn-margin" [routerLink]="['about']">About</a>
    <a class="btn btn-primary btn-margin" [routerLink]="['profile']">Profile</a>
  </nav>
</header>
<main>

  <!-- Images (and assets) are parsed and loaded from within the public directory -->
  <div class="navbar-header">
     <h4 *ngIf="!auth.authenticated()">You are not logged in, please click 'Log in' button to login</h4>
      <h4 *ngIf="auth.authenticated()">To logout in, please click 'Log out' button to logout</h4>
    <button class="btn btn-primary btn-margin" (click)="auth.login()" *ngIf="!auth.authenticated()">Log In</button>
    <br>
    <button class="btn btn-primary btn-margin" (click)="auth.logout()" *ngIf="auth.authenticated()">Log Out</button>
  </div>

  <router-outlet></router-outlet>
</main>
<footer>

</footer>