<header>
  <!--<nav *ngIf="auth.authenticated()">
    <a class="btn btn-primary btn-margin" [routerLink]="['']">Home</a>
    <a class="btn btn-primary btn-margin" [routerLink]="['about']">About</a>
    <a class="btn btn-primary btn-margin" [routerLink]="['profile']">Profile</a>
  </nav>-->
  <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="#" class="navbar-brand" [routerLink]="['']" >the user</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id='navbar-main'>          
          
          
              <ul *ngIf="auth.authenticated() && auth.userProfile" class="nav navbar-nav navbar-right">
                  <li 
                   class="dropdown"><a href="#" class="dropdown-toggle" 
                   data-toggle="dropdown">Welcome, {{auth.userProfile.name}} <b class="caret"></b></a>
                      <ul class="dropdown-menu">
                          <li>
                            <a href="#" [routerLink]="['profile']">
                              <span class="glyphicon glyphicon-cog"></span> Profile
                            </a>
                          </li>
                          <li class="divider"></li>
                          <li><a href="#" (click)="auth.logout()"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
                      </ul>
                  </li>
              </ul>
              <!--<ul  class="nav navbar-navm navbar-right">
                  <li ><a class="btn btn-primary btn-margin" (click)="auth.login()">Login</a></li>
              </ul>-->
        </div>
        
      </div>
    </div>
</header>
<main>
  
  <div class="text-center">
      <h4 *ngIf="!auth.authenticated()">You are not logged in, please click 'Log in' button to login</h4>
      <button class="btn btn-primary btn-margin" (click)="auth.login()" *ngIf="!auth.authenticated()">Log In</button>
  </div>

  
  <router-outlet></router-outlet>
</main>
<footer>
  <a *ngIf="auth.authenticated()" href="#" (click)="auth.logout()" ><span class="glyphicon glyphicon-off"></span> Logout</a>
</footer>